# ignore files generated during run
analysis/.snakemake/
analysis/slurm/slurm_output/
analysis/batch/
analysis/brieflow_output/
analysis/gcs_temp/

# ignore files generated during test run
.claude/
.snakemake/